:root {
  --primary: #eeeeee;
  --primary-text: #1a1a1a;
  --secondary: #1d7fff;
  --secondary-text: #f8f8f8;
  --accent: #505050;
  --accent-text: #333333;
}

.xgb{
  background: rgba(220,220,220,0.2);
  padding: 5px;
  margin-bottom: 100px;
}

.lbg{
  background: rgba(100,100,100,0.5);
  padding: 5px;
}